<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Rody Resq VZW</title>

    <link href="css/MainStyle.css" rel="stylesheet">
    <link href="css/NavMail.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: url("images/backgr.png");
 
            background-size: cover;
        }

        h1 {
            font-family: "Playwrite IS", cursive;
            font-size: 50px;
            font-weight: 400;
            font-style: normal;
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

            h2 {
            font-family: "Playwrite IS", cursive;
            font-size: 50px;
            font-weight: 400;
            font-style: normal;
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: rgba(0,0,0,.5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 30px;
            z-index: 50;
        }

        
        .login-boxB {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            padding: 40px;
            transform: translate(-50%, -50%);
    
        }


          button {
                          margin: 50px;
                          border: 3px;
                          border-radius: 20px;
                          width: 200px;
                          height: 80px;
                          background-color: #074a42;
                      }





        .playwrite-is-<uniquifier> {
  font-family: "Playwrite IS", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    </style>
</head>

<body>

              <div class="login-box" style="text-align: center;">
                  <h1>Rody Resq VZW</h1>
                  <br><br><br><br><br>
                  <img class="login-boxB" src="images/rody23.png" alt="logo"><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  <h2>Animal resque</h2><br><br>
                  <button id="button1">Contact</button>
                  <button id="button2">Info</button>
                  <p>Wij zijn uiterst afhankelijk van DONATIES EN SPONSORING.

U kan altijd vrijblijvend een gift doen op onze rekening: BE31973354663255 of via PayPal: PayPal.me/drewrody</p>
              </div>

</body>

</html>
